.SectionCollection {
  display: flex;
  width: 100%;
  height: auto;
  padding: 40px 0;
  flex-direction: column;
  background-color: rgb(249, 249, 217);
}
.TitleSectionCollection {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.TitleSectionCollection a {
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
}
.TitleSectionCollection h1 {
  font-size: 25px;
  font-weight: 500;
}
.categorySection {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}
.categoryContainer {
  display: flex;
  width: 100%;
  align-items: center;

  flex-direction: column;
}
.categoryContainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}
